$card-footer-text-size: 0.9rem;
$product-card-footer-padding-left: 15px;
$product-card-footer-padding-right: 15px;
$card-footer-font-span-weight: 600;

body {
  
  .app-container {
    display: flex;
    justify-content: center;
    width: 100%;
  
    .component-home-container {
      width: 100%;
      // border: 2px solid blue;

      .product-cards-cover-flex {
        width: 100%;
        display: flex;
        justify-content: center;

        .product-cards-cover-item {
          width: 80%;

          .product-card-load-status-cover {
            width: 100%;

            .product-card-load-status-text {
              text-align: center;
              color: red;
              font-size: 1.5rem;
            }
          }

          .product-cards-flex {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            // align-content: stretch;
            width: 100%;
            // height: 100vh;
      
            .product-cards-item {
              width: 23%;
              border: 1px solid lightgrey;
              // box-shadow: 0px 1px 0px rgba(0,0,0,0.7);
              border-radius: 7px;
              margin: 5px;
      
              .product-card-header-cover {
                border-bottom: 1px solid lightgrey;
                width: 100%;
                background-color: rgba(122,255,175, 0.6);
      
                .product-face-font-cover {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100px;
      
                  .product-face-font {
                    font-weight: 600;
                  }
                }
              }
              .product-card-footer-cover {
                padding-left: $product-card-footer-padding-left;
                padding-right: $product-card-footer-padding-right;
      
                .product-price-cover {
      
                  .product-price-font {
                    font-size: $card-footer-text-size;
                    
                    .font-heading {
                      font-weight: $card-footer-font-span-weight;
                    }
                  }
                }
                .product-size-cover {
        
                  .product-size-font {
                    font-size: $card-footer-text-size;
                    margin-block-end: 0.1rem;
        
                    .font-heading {
                      font-weight: $card-footer-font-span-weight;
                    }
                  }
                }
                .product-date-cover {
        
                  .product-date-font {
                    font-size: $card-footer-text-size;
        
                    .font-heading {
                      font-weight: $card-footer-font-span-weight;
                    }
                  }
                }
              }
            }
          }

          .bottom-limit-cover {
            width: 100%;
            
            .bottom-limit-div {
              width: 100%;
              text-align: center;

              .bottom-limit-text {
                font-size: 1.2rem;
              }
            }
          }
        }
      }

      .component-home-footer {
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to right, blue, red);
        // background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: 500px;
    
        .footer-title {
          font-size: 1.2rem;
          color: #FFFFFF;
          // color: rgba(0,0,0,0.7);
        }
      }
    }
  }
}